<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- css tyle links -->
    <link rel="stylesheet" href="/framework/css/foundation.css" />
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title>Home Page</title>
  </head>
  <body id="calendar">
      
    
    <!-- NavBar -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <img id="logo" src="/images/onTime.png" alt="" width="100px" height="100px">
            <button class="navbar-toggler" id="collapseButton" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="menu menu-hover-lines mt-2">
                                <li class="active ml-4 mt-4"><a href="/calendar">Calendar</a></li>
                                <li><a class="mt-4 ml-4" href="/home">Home</a></li>
                                <li><a class="mt-4 ml-4" href="/messageBoard">Message board</a></li>
                                <li><a class="mt-4 ml-4 mb-4" href="/directMessage">Direct Message</a></li>
                              </ul>
                        </div>
                        <ul style="list-style: none;" class="mr-4">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle mr-4 pr-4" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> <img src="/images/avatar.png" alt="Avatar" class="avatar float-right mr-4"></a>
                                <div class="dropdown-menu mt-4">
                                  <a class="dropdown-item" href="#">Settings</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="/">Sign Out</a>
                                </div>
                              </li>
                        </ul>
          </nav>

<!-- Calendar -->
<div class="container col-sm-4 col-md-7 col-lg-4 mt-5 ">
  <div class="card">
      <h3 class="card-header" id="monthAndYear"></h3>
      <table class="table table-bordered table-responsive-sm bg-white" id="calendar">
          <thead>
          <tr>
              <th>Sun</th>
              <th>Mon</th>
              <th>Tue</th>
              <th>Wed</th>
              <th>Thu</th>
              <th>Fri</th>
              <th>Sat</th>
          </tr>
          </thead>

          <tbody id="calendar-body">

          </tbody>
      </table>

      <div class="form-inline">

          <button class="btn btn-outline-primary col-sm-6" id="previous" onclick="previous()">Previous</button>

          <button class="btn btn-outline-primary col-sm-6" id="next" onclick="next()">Next</button>
      </div>
      <br/>
      <form class="form-inline">
          <label class="lead mr-2 ml-2" for="month">Jump To: </label>
          <select class="form-control col-sm-4" name="month" id="month" onchange="jump()">
              <option value=0>Jan</option>
              <option value=1>Feb</option>
              <option value=2>Mar</option>
              <option value=3>Apr</option>
              <option value=4>May</option>
              <option value=5>Jun</option>
              <option value=6>Jul</option>
              <option value=7>Aug</option>
              <option value=8>Sep</option>
              <option value=9>Oct</option>
              <option value=10>Nov</option>
              <option value=11>Dec</option>
          </select>


          <label for="year"></label><select class="form-control col-sm-4" name="year" id="year" onchange="jump()">
          <option value=1990>1990</option>
          <option value=1991>1991</option>
          <option value=1992>1992</option>
          <option value=1993>1993</option>
          <option value=1994>1994</option>
          <option value=1995>1995</option>
          <option value=1996>1996</option>
          <option value=1997>1997</option>
          <option value=1998>1998</option>
          <option value=1999>1999</option>
          <option value=2000>2000</option>
          <option value=2001>2001</option>
          <option value=2002>2002</option>
          <option value=2003>2003</option>
          <option value=2004>2004</option>
          <option value=2005>2005</option>
          <option value=2006>2006</option>
          <option value=2007>2007</option>
          <option value=2008>2008</option>
          <option value=2009>2009</option>
          <option value=2010>2010</option>
          <option value=2011>2011</option>
          <option value=2012>2012</option>
          <option value=2013>2013</option>
          <option value=2014>2014</option>
          <option value=2015>2015</option>
          <option value=2016>2016</option>
          <option value=2017>2017</option>
          <option value=2018>2018</option>
          <option value=2019>2019</option>
          <option value=2020>2020</option>
          <option value=2021>2021</option>
          <option value=2022>2022</option>
          <option value=2023>2023</option>
          <option value=2024>2024</option>
          <option value=2025>2025</option>
          <option value=2026>2026</option>
          <option value=2027>2027</option>
          <option value=2028>2028</option>
          <option value=2029>2029</option>
          <option value=2030>2030</option>
      </select></form>
  </div>
</div>

            <!-- Calendar JS link -->
            <script src="../js/calendar.js" type="text/javascript"></script>
            <!-- firebase links -->
            <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
            <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
            
            <!-- jquery links-->
            <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
  
            <!-- bootstrap links -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
            <!-- foundation links-->
              <script src="/js/app.js"></script>
              <script src="/framework/js/vendor/jquery.js"></script>
              <script src="/framework/js/vendor/foundation.js"></script>
              <script src="/framework/js/vendor/what-input.js"></script>
          </body>
          </html>