<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- css tyle links -->
    <link rel="stylesheet" href="/framework/css/foundation.css" />
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title>Home Page</title>
  </head>
  <body id="homePage">
      
    
    <!-- NavBar -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <img id="logo" src="/images/onTime.png" alt="" width="100px" height="100px">
            <button class="navbar-toggler" id="collapseButton" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="menu menu-hover-lines mt-2">
                                <li class="active ml-4 mt-4"><a href="/">Home</a></li>
                                <li><a class="mt-4 ml-4" href="/calendar">Calendar </a></li>
                                <li><a class="mt-4 ml-4" href="/messageBoard">Message board</a></li>
                                <li><a class="mt-4 ml-4 mb-4" href="/directMessage">Direct Message</a></li>
                              </ul>
                        </div>
                        <ul style="list-style: none;" class="mr-4">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle mr-4 pr-4" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> <img src="/images/avatar.png" alt="Avatar" class="avatar float-right mr-4"></a>
                                <div class="dropdown-menu mt-4">
                                  <a class="dropdown-item" href="/settings">Settings</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="/sign">Sign Out</a>
                                </div>
                              </li>
                        </ul>
          </nav>
      
         <!-- Shifts -->
         <div class="mt-4">
          <div class="row" id="homeMenu">
            <div class="col-3 mr-2" id="upcomingShifts">
              <h3>Upcoming Shifts</h3>
              <table class="table-expand">
                  <thead>
                    <tr class="table-expand-row">
                      <th width="200" class="text-center">Month</th>
                      <th>Number Of Days</th>
                      <th class="text-right" width="150">Total Hours</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-expand-row" data-open-details>
                      <td>August</td>
                      <td>2 days</td>
                      <td class="text-right">16</td>
                    </tr>
                
                    <tr class="table-expand-row-content">
                      <td colspan="8" class="table-expand-row-nested bg-secondary text-white">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
                      </td>
                    </tr>
                
                    <tr class="table-expand-row" data-open-details>
                      <td>July</td>
                      <td>4 days</td>
                      <td class="text-right">34</td>
                    </tr>
                
                    <tr class="table-expand-row-content">
                      <td colspan="8" class="table-expand-row-nested bg-secondary text-white">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
                      </td>
                      </td>
                    </tr>
                
                    <tr class="table-expand-row" data-open-details>
                      <td>June</td>
                      <td>1 day</td>
                      <td class="text-right">12</td>
                    </tr>
                
                    <tr class="table-expand-row-content">
                      <td colspan="8" class="table-expand-row-nested bg-secondary text-white">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
                      </td>
                      </td>
                    </tr>
                
                    <tr class="table-expand-row" data-open-details>
                      <td>May</td>
                      <td>2 days</td>
                      <td class="text-right">17</td>
                    </tr>
                
                    <tr class="table-expand-row-content">
                      <td colspan="8" class="table-expand-row-nested bg-secondary text-white">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
                      </td>
                      </td>
                    </tr>
                
                    <tr class="table-expand-row" data-open-details>
                      <td>April</td>
                      <td>1 day</td>
                      <td class="text-right">8</td>
                    </tr>
                
                    <tr class="table-expand-row-content">
                      <td colspan="8" class="table-expand-row-nested bg-secondary text-white">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
                      </td>
                      </td>
                    </tr>
                
                    <tr class="table-expand-row" data-open-details>
                      <td>March</td>
                      <td>2 days</td>
                      <td class="text-right">16</td>
                    </tr>
                
                    <tr class="table-expand-row-content">
                      <td colspan="8" class="table-expand-row-nested bg-secondary text-white">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
                      </td>
                      </td>
                    </tr>
                
                    <tr class="table-expand-row" data-open-details>
                      <td>February</td>
                      <td>2 days</td>
                      <td class="text-right">16</td>
                    </tr>
                
                    <tr class="table-expand-row-content">
                      <td colspan="8" class="table-expand-row-nested bg-secondary text-white">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
                      </td>
                      </td>
                    </tr>
                
                    <tr class="table-expand-row" data-open-details>
                      <td>January</td>
                      <td>5 days</td>
                      <td class="text-right">48</td>
                    </tr>
                
                    <tr class="table-expand-row-content">
                      <td colspan="8" class="table-expand-row-nested bg-secondary text-white">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
                      </td>
                      </td>
                    </tr>
                
                    <tr class="table-expand-row" data-open-details>
                      <td>December</td>
                      <td>2 days</td>
                      <td class="text-right">16</td>
                    </tr>
                
                    <tr class="table-expand-row-content">
                      <td colspan="8" class="table-expand-row-nested bg-secondary text-white">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
                      </td>
                      </td>
                    </tr>
                
                  </tbody>
                </table>
            </div>
            <div class="col-8">
             
              <!-- comments -->
<div class="comment-section-container">
    <h3>Recent Messages</h3>
    <div class="comment-section-author">
      <img src="/images/avatar.png" width="50px" height="50px" alt="">
      <div class="comment-section-name">
        <h5><a href="">Janice Jones</a></h5>
        <p>March 12, 2017 at 1:28pm</p>
      </div>
    </div>
    <div class="comment-section-text">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum facilis tenetur a voluptatibus quia
        deserunt.
      </p>
    </div>
    <div class="comment-section-author">
      <img src="/images/avatar.png" width="50px" height="50px" alt="">
      <div class="comment-section-name">
        <h5><a href="">Janice Jones</a></h5>
        <p>March 12, 2017 at 1:28pm</p>
      </div>
    </div>
    <div class="comment-section-text">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum facilis tenetur a voluptatibus quia deserunt.
      </p>
    </div>
    <div class="comment-section-author">
        <img src="/images/avatar.png" width="50px" height="50px" alt="">
        <div class="comment-section-name">
          <h5><a href="">Janice Jones</a></h5>
          <p>March 12, 2017 at 1:28pm</p>
        </div>
      </div>
      <div class="comment-section-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum facilis tenetur a voluptatibus quia deserunt.
        </p>
      </div>
  </div>
  <!--/comments-->
  <!--/comment box-->
            </div>
          </div>
         </div>
      
            


            <!-- firebase links -->
            <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
            <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
            
            <!-- jquery links-->
            <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
  
            <!-- bootstrap links -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
            <!-- foundation links-->
              <script src="/js/app.js"></script>
              <script src="/framework/js/vendor/jquery.js"></script>
              <script src="/framework/js/vendor/foundation.js"></script>
              <script src="/framework/js/vendor/what-input.js"></script>


  </body>
  </html>