<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- css tyle links -->
    <link rel="stylesheet" href="../public/framework/css/foundation.css" />
    <link rel="stylesheet" href="../public/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Sign In</title>
  </head>
  <body class="signBody">
        
        <div class="container">
                <div class="translucent-form-overlay align-center" id="trans">

                <form id=signForm>
                        <div class="form-icons">
                          <h4 class="mt-4 text-white">Sign In</h4>

                      
                          <div class="input-group">
                            <span class="input-group-label">
                              <i class="fa fa-envelope"></i>
                            </span>
                            <input class="input-group-field" id="inputUserEmail" type="text" placeholder="Email">
                          </div>
                      
                          <div class="input-group">
                            <span class="input-group-label">
                              <i class="fa fa-key"></i>
                            </span>
                            <input class="input-group-field" id="inputPassWord" type="password" placeholder="Password" >
                          </div>
                        </div>
                        <div id="warning2"></div>
                      
                        <button class="button expanded" id="submitBtn">Sign In</button>

                        <p class="form-registration-member-signin text-center text-primary" id="signInLink">Not a member? <a class="text-white" id="signInIndex" href="./sign.html">Sign Up</a></p>
                        <p class="form-registration-terms text-center text-primary"><a class="mr-1" href="https://app.termly.io/document/terms-of-use-for-website/f3a5b8fa-cc2a-4ec1-9625-41b892b437f4">Terms &amp; Conditions</a>|<a class="ml-1" href="#">Privacy</a></p>
                      </form>


                      </div>
        </div>
     
        
        
          
      


            <!-- firebase links -->
          <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
          <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
          
          <!-- jquery links-->
          <script
          src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>

          <!-- bootstrap links -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

          <!-- foundation links-->
            <script src="../public/js/app.js"></script>
            <script src="../public/framework/js/vendor/jquery.js"></script>
            <script src="../public/framework/js/vendor/foundation.js"></script>
            <script src="../public/framework/js/vendor/what-input.js"></script>



  </body>