
form .form-icons {
    text-align: center;
  }
  
  form .form-icons h4 {
    margin-bottom: 1rem;
  }
  
  form .form-icons .input-group-label {
    background-color: #1779ba;
    border-color: #1779ba;
  }
  
  form .form-icons .input-group-field {
    border-color: #1779ba;
  }
  
  form .form-icons .fa {
    color: white;
    width: 1rem;
  }
  

  .signBody {
      
      background-image: url("../images/work.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      min-height:100vh;
      
  }

  #trans {
      margin-top: 50px;
  }


  .translucent-form-overlay {
    
    width: 100%;
    background-color: rgba(54, 54, 54, 0.8);
    padding: 20px;
    color: #fefefe;
  }
  
  .translucent-form-overlay .columns.row {
    display: block;
  }
  
  .translucent-form-overlay h3, .translucent-form-overlay label {
    color: #fefefe;
  }
  
  .translucent-form-overlay input, .translucent-form-overlay select {
    color: #8a8a8a;
  }
  
  .translucent-form-overlay input::-webkit-input-placeholder {
    color: #8a8a8a;
  }
  
  .translucent-form-overlay input:-ms-input-placeholder {
    color: #8a8a8a;
  }
  
  .translucent-form-overlay input::placeholder {
    color: #8a8a8a;
  }
  

  .menu-hover-lines {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.35s ease;
    width: 60%;
  }
  
  .menu-hover-lines li a {
    padding: 0.75rem 0;
    color: #747474;
    position: relative;
    margin-left: 1rem;
  }
  
  .menu-hover-lines li:first-child a {
    margin-left: 0;
  }
  
  .menu-hover-lines li.active > a {
    background-color: transparent;
  }
  
  .menu-hover-lines a:before,
  .menu-hover-lines a::after {
    height: 3px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    background-color: #FF652F;
    width: 0;
  }
  
  .menu-hover-lines a::before {
    top: 0;
    left: 0;
  }
  
  .menu-hover-lines a::after {
    bottom: 0;
    right: 0;
  }
  
  .menu-hover-lines a:hover,
  .menu-hover-lines li.active > a {
    color: #14A76C;
    transition: all 0.35s ease;
  }
  
  .menu-hover-lines a:hover::before,
  .menu-hover-lines .active a::before,
  .menu-hover-lines a:hover::after,
  .menu-hover-lines .active a::after {
    width: 100%;
  }

  

#homePage, #messageBoard, #directMessage {
  text-align: center;
  background-color: #747474
}
  
 #warning, #warning2 {
   color: red;
 }

 .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navbar{
  background-color: #272727;
  font-size: 12px;
  color: #747474;
}

#collapseButton {
  background-color: #14A76C;
  color: white;
  border-color: #FF652F; 
}

@media only screen and (max-width: 1026px) {
  #logo {
      display: none;
  }
}


.table-expand-row {
  background-color: #8a8a8a;
}

.table-expand {
  margin-top: 0;
  position: relative;
  display: block;
  
}

.table-expand td {
  color: #8a8a8a;
  background-color: #272727;
}

.table-expand tr {
  border: 1px solid #14A76C;
  
}

.table-expand .text-right {
  padding-right: 3rem;
}

.table-expand-row.is-active .expand-icon::after {
  content: '-';
  
}

.table-expand-row .expand-icon::after {
  content: '+';
  float: right;
}

.table-expand-row-content {
  display: none;
  background-color:#747474; 
}

.table-expand-row-content.is-active {
  display: table-row;
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;

          background-color:#747474; 
}

.table-expand-row-nested {
  background-color: #e6e6e6;
}



#upcomingShifts {
  background-color:#FF652F;
  margin-left: 14px;
  color:#272727;
  display:table;
}

#homeMenu {
  width:100%;
  margin: auto;
}

.comment-section-container {
  background-color: #fefefe;
  padding: 1rem;
}

.comment-section-author {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}
